<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDY1BlF6HGTf3kZnejgu_Bo3ytAewWSC48</string>
	<key>GCM_SENDER_ID</key>
	<string>77163754295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cypher.mobile.app</string>
	<key>PROJECT_ID</key>
	<string>cypher-1f6e1</string>
	<key>STORAGE_BUCKET</key>
	<string>cypher-1f6e1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77163754295:ios:4a0b815983f7c63e2760b2</string>
	<key>DATABASE_URL</key>
	<string>https://cypher-1f6e1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>